<head>
    <meta charset="utf-8">
    <title>Final Project Site</title>

    <link rel="stylesheet" href="/style.css" media="screen">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="/listingTemplate.js" charset="utf-8" defer></script>
    <script src="/main.js" charset="utf-8" defer></script>
</head>