<main>
{{#each listings}}
        {{> listing}}
{{/each}}

<button type="button" id="create-buy-button">
      <i class="fas fa-shopping-cart"></i>
</button>
<button type="button" id="create-back-button">
      <i class="fas fa-backspace"></i>
</button>
<button type="button" id="create-remove-button">
      <i class="fas fa-minus-circle"></i>
</button>

<div class="pop-up-box" id="buy-button">
      <span class="ion-checkmark-round"></span>
      <h1>Item has been added into your cart</h1>
      <a onclick="pop()" class="close">Close</a>
      <a onclick="redirect()" class="close">Go To Cart</a>
</div>

<div class="pop-up-box" id="remove-button">
      <span class="ion-trash-b"></span>
      <h1>Item has been removed from your cart</h1>
      <a onclick="pop()" class="close">Close</a>
      <a onclick="redirect()" class="close">Go To Cart</a>
</div>
</main>
{{!-- <div class="pop-up-box" id="empty-set-button">
      <span class="ion-trash-b"></span>
      <h1>Your cart is empty</h1>
      <a onclick="pop()" class="close">Close</a>
      <a onclick="redirect()" class="close">Go To Cart</a>
</div> --}}


